body {
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
}
a {
  text-decoration: none;
  display: inline-block;
}
ul,
ol {
  list-style: none;
  padding: 0;
  margin: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}
.header-page {
  background-color: rgb(184, 184, 182);
  padding-top: 20px;
  padding-bottom: 20px;
}
.container {
  max-width: 1360px;
  width: 100%;
  margin: 0 auto;
}
.header-page .container {
  padding-right: 28px;
  padding-left: 28px;
}
.logo-link {
  color: #fff;
  font-size: 35px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.2;
}
.logo-link-accent {
  color: #28a745;
}
.header-menu {
  display: flex;
  justify-content: space-between;
}
.menu-list {
  display: flex;
  gap: 40px;
  flex-wrap: wrap;
  align-content: center;
}
.menu-list-item {
}
.menu-item-link {
  color: #fff;
  font-style: normal;
  font-weight: 400;
  line-height: 1.6;
}
.hero-section {
  background-color: dimgrey;
  padding-top: 205px;
  padding-bottom: 282px;
}
.hero-title {
  text-align: center;
}
.hero-text {
  text-align: center;
}
.hero-link {
  margin: 0 auto;
}
.solutions-section {
}
.cases-section {
}
.cases-title {
}
.cases-text {
}
.cases-list {
}
.cases-list-item {
}
.cases-item-img {
}
.blog-section {
}
.blog-info {
}
.blog-data-info {
}
.blog-title {
}
.blog-text {
}
.blog-link {
}
.blog-img {
}
.team-section {
}
.team-slogan {
}
.team-title {
}
.team-text {
}
.team-list {
}
.team-list-item {
}
.team-item-img {
}
.team-info {
}
.team-name-tetle {
}
.team-position {
}
.callback-section {
}
.callback-img {
}
.callback-form-container {
}
.callback-title {
}
.callback-btn {
}
.footer-section {
}
.footer-copyright-link {
}
